* {
    margin: 0 auto;
    /*width: 980px;*/
    font-family: Lato, sans-serif;
    font-size: 20px;
    background: #f8f8ff;
}

.container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputs-title {
    /*margin: 15px 0 20px 0;*/
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 2rem;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
}


.button,
.testType {
    position: relative;
    top: -300px;
    background: red;
    color: black;
    right: -450px;
    width: 200px;
    height: 50px;
    /*border: 1px solid green;*/
    border-radius: 5px;
}

.testType {
    width: 500px;
    height: 400px;
    background: white;
!important;
}

#typeInHtml {
    margin-bottom: 1rem;
    width: 500px;
    height: auto;
}

.testType {
    box-sizing: border-box;
    border: 1px solid black;
}


#clean-numbers-in-html {
    background: chartreuse;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    width: 100px;
    height: 35px;
    margin-bottom: 20px;
}

.clean-numbers {
    position: relative;
    top: -300px;
    left: -400px;
    transition: .4s;
}

.clean-numbers:active, .button:active {
    transform: scale(1.2);
}

.clean-numbers:hover {
    /*background: lightyellow;*/
}

#submit {
    /*background: lightcyan;*/
    transition: .4s;
}

#submit:hover {
    /*background: lightgreen;*/
}

.main-title {
    /*margin-bottom: 100px;*/
    margin: 50px 0 150px 0;
}

h1 > span {
    font-size: 27px;
    text-decoration: underline;
    /*margin-bottom: 20px;*/
    /*padding-bottom: 20px;*/
}

.testType > p {
    margin: 0.5rem;
    display: inline-block;
}